<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" id="headshot" alt="Image of Mark Swatosh" />
        {% endif %}

        <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->

        {% if site.data.social %}
          <div id="social">
          {% assign sm = site.data.social %}
          {% for entry in sm %}
            {% assign key = entry | first %}
            {% if sm[key].id %}
              <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }} fa-3x"></i></a>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}

        {% if site.posts %}
          <div id="posts">
          {% for post in site.posts %}
            {% if page.url == post.url %}
              <li class="active"><a href="{{post.url}}" class="active">{{post.title}}</a></li>
            {% else %}
              <a href="{{post.url}}">{{post.title}}</a>
            {% endif %}            
          {% endfor %}
          </div>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <small>Forked from <a href="https://github.com/pages-themes/minimal">minimal.</a> </br> Updated by me with my amazingly basic HTML, CSS, and JS skills.</small>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
